<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coleccion Vinilos JP</title>
    <link rel="stylesheet" href="/static/estilos.css">
    <link rel="shortcut icon" href="/static/vinilo.ico" type="image/x-icon">
</head>
<body id="body-index">
    <div class="contenedor-index">
        <div class="contenedor-titulo">
            <h1 id="titulo-index">Colección Vinilos JP</h1>
            <h2 id="titulo-index-menu">Menú Principal</h2>
        </div>
        <div class="menu-opciones">
            <button type="button" class="boton-index btn" id="boton-1" onclick="window.location.href='agregar-vinilo.html'" >Agregar Vinilo</button>
            <button type="button" class="boton-index btn" id="boton-2" onclick="window.location.href='modificar-vinilo.html'">Modificar Vinilo</button>
            <button type="button" class="boton-index btn" id="boton-3" onclick="window.location.href='eliminar-vinilo.html'">Eliminar Vinilo</button>
            <button type="button" class="boton-index btn" id="boton-4" onclick="window.location.href='busqueda-filtrada.html'">Ver Colección</button>
            <button type="button" class="boton-index btn" id="boton-5" onclick="window.location.href='ver-tracklist.html'">Buscar Tracklist</button>    
        </div>
    </div> 
</body>
</html>